/* Components */
@import '../styles/card.css';
@import '../styles/button.css';
@import '../styles/banner.css';
@import '../styles/menu.css';
@import '../styles/page-title.css';
@import '../styles//scrollbar.css';
@import '../styles//icon-button.css';

/* Variables */
@import '../styles/variables.css';


/* Pages */
@import '../styles/pages/characters.css';

/* Global */
* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    background-color: var(--body-color);
    color: #f1f1f1;
    font-weight: var(--font-weight-normal);
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

h1, h2 {
    padding: 24px 16px;
    color: rgba(0, 95, 94, 0.5);
}

main {
    padding: 0;
}

a {
  text-decoration: none;
}

