@import '../styles/card.css';
@import '../styles/button.css';
@import '../styles/banner.css';
@import '../styles/menu.css';

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    background-color: #202020;
    color: #f1f1f1;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

h1, h2 {
    padding: 24px 16px;
    color: rgba(0, 95, 94, 0.5);
}

main {
    padding: 0;
}

