.banner {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background-image: url('../images/banners/home.jpg');
    background-position: left bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--body-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    z-index: 109;
    position: relative;
}


@media(max-width: 480px) {  
  .banner {
    min-height: 300px;
    height: 300px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner_title, .banner_subtitle {
    display: none;
  }
}


.banner .banner_logo {
  position: fixed;
  left: 32px;
  top: 32px;
}

.banner .banner_logo img {
  width: 128px;
  height: auto;
}

.banner .banner_title {
  font-size: 48px;
  padding: 8px 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}

.banner .banner_subtitle {
  color: #fff;
  font-weight: 500;
  margin-top: calc(90vh - 120px);
  font-size: 32px;
  text-align: left;
  padding: 16px 32px;
  color: #fff;
}

/* Media queries */


