.card {
    background: #fff;
    border: 1px solid #333;
    color: #333;
    font-size: 1.5rem;
    margin: 32px 32px;
    min-width: calc(100% / 3 - 32px);
}

.card:hover {
    box-shadow: 4px 8px 4px var(--first-color-light);
}

.card_title {
    font-size: 2.5rem;
    padding: 16px 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card_image {
    margin: 0;
    padding: 0;
}


.card_image img {
    width: 100%;
    height: auto;
    transition: all ease 0.5s;
}

.card_image img:hover {
    transform: scale(0.95);
}

.card_content {
    padding: 16px 16px;
}

.card_footer {
    margin: 8px 0;
    padding: 16px 8px 0 8px;
    border-top: 2px solid #eee;
}

.card_footer_actions {
    text-align: left;
    display: flex;
    height: 64px;
}
.card_footer_actions .button {
    flex: 1;
    align-items: stretch;
    font-size: 0.9rem;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .card {
        min-width: 80%;
        margin: 32px 16px;
    }

    .card_footer_actions {
        height: auto;
    }
}

@media (max-width: 480px) {
    .card {
        min-width: 90%;
        margin: 16px 8px;
    }

    .card_footer_actions {
        height: auto;
    }
}