.menu {
    /* background-color: #202020; */
    background-image: linear-gradient(to left top,
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)
    );
    min-height: 20vh;
    width: auto;
    padding: 16px;
    position: fixed;
    top: 160px;
    left: 0px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    text-align: center;
    z-index: 999999;
}

.menu:hover {
    border-right: 4px solid var(--first-color);
}

.menu .menu_item {
    flex: 1;
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.menu .menu_item:hover {
    font-weight: bold;
    color: var(--first-color);
}

.menu .menu_item .menu_item_icon {
    font-size: 24px;
    padding: 16px 8px;
    margin: auto;
}

.menu .menu_item .menu_item_icon:hover {
    animation: 0.5s ease all;
    font-weight: bold;
    color: var(--first-color);
    cursor: pointer;
}

.menu .menu_item.menu_item_icon--active {
    border-right: 2px solid var(--first-color);
    border-radius: 50%;
    color: var(--first-color);
}